/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset General*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    color: #2980b9;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
    margin: 0;
    padding: 0;
}

/* ---- Estilos de NAVBAR ----*/

.navbar {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(0);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar .logo,
.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2980b9;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: #2980b9;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2980b9;
}

.navbar.bg-solid {
    background-color: #2980b9;
}

.navbar.sticky .nav-links a {
    color: #fff;
}

.navbar.sticky .nav-links a:hover {
    color: grey;
}


.navbar.sticky .nav-links a {
    color: #fff;
}

.navbar.sticky .nav-links a:hover {
    color: grey;
}

.logo {
    text-decoration: none;
    color: #fff;
}

.logo i {
    font-size: 2rem;
    margin-right: 1rem;
}

.logo h1 {
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: end;
}

.nav-links li {
    margin-left: 20px;
    font-size: 1.3rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: orangered;
    font-weight: bold;
    text-shadow:
        2px 2px 0 #000000,
        4px 4px 10px rgba(0, 0, 0, 0.5);
}

.burger-menu {
    display: none;
    justify-self: end;
    cursor: pointer;
}

.burger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}

.burger-menu.open .burger-line {
    display: none;
    opacity: 0;
}

.burger-menu.open {
    position: relative;
    z-index: 1;
}

.burger-menu.open::before,
.burger-menu.open::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.burger-menu.open::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu.open::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile-nav-links {
    list-style: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #2980b9;
    padding: 20px;
    display: none;
    z-index: 99;
    transition: width 0.3s ease-in-out;
}

.mobile-nav-links.show {
    display: block;
}

.mobile-nav-links li {
    margin-bottom: 10px;
}

.mobile-nav-links a {
    color: #fff;
    text-decoration: none;
}

/* --- Estilo del HERO SECTION con Animacion ----*/

.hero-container {
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade-in-out 20s infinite;
}

.hero-image:nth-child(1) {
    background-image: url('../img/hero-image-01.jpg');
    animation-delay: 0s;
}

.hero-image:nth-child(2) {
    background-image: url('../img/hero-image-02.jpg');
    animation-delay: 5s;
}

.hero-image:nth-child(3) {
    background-image: url('../img/hero-image-03.jpg');
    animation-delay: 10s;
}

.hero-image:nth-child(4) {
    background-image: url('../img/hero-image-04.jpg');
    animation-delay: 15s;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-text h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-text .buttons {
    display: flex;
    justify-content: center;
}

.hero-text a {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 1px solid #333333;
    border-radius: 0px;
    cursor: pointer;
    margin: 0 1rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 1;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgb(24, 24, 24);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.active {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.active:hover {
    background-color: #2980b9;
    color: white;
    box-shadow: 0 0 #333;
}

.desactive {
    background-color: #857d7d;
    color: #fff;
}

.desactive:hover {
    background-color: white;
    color: grey;
    box-shadow: 0 0 #333;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    10% {
        opacity: 1;
        transform: scale(1.1);
    }

    90% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* MEDIA QUERIES */

@media (max-width: 991px) {
    .navbar .nav-links {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

@media (min-width: 992px) {
    .burger-menu {
        display: none;
    }

    .mobile-nav-links {
        display: none;
    }
}
@media (max-width: 768px) {

    .logo {
        display: flex;
        align-items: center;
    }

    .logo i {
        font-size: 1.5rem;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .nav-links {
        display: none;
    }

    .burger-menu {
        display: block;
        z-index: 101;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .hero-text button {
        font-size: 1rem;
        margin: 0 0.5rem;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    .logo i {
        font-size: 1rem;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .nav-links {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .hero-text button {
        font-size: 0.9rem;
        margin: 0 0.25rem;
    }
}

/* ----------------------------- PROFILE content styles -------------------------------- */


.profile,
.acerca {
    container-name: profile;
    container-type: inline-size;
}

.profile__wrapper,
.acerca__wrapper,
.terminos__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
}

.profile__data-container,
.acerca__data-container,
.terminos__data-container {
    max-width: 820px;
    padding: 12px;
    background-color: #fff;
    margin: auto;
}

.acerca__data,
.terminos__data {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: left;
    border-radius: 25px;
    box-shadow: 0px 0px 9px #0002;
}

.profile h1 {
    margin-bottom: 10px;
    color: #2980b9;
}

.profile h2,
h3,
h4 {
    margin: 10px;
    color: #2980b9;
}

.profile__img-container {
    display: flex;
    justify-content: center;
    max-height: 550px;
    overflow: hidden;
}

.profile__img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.profile__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

/* --------------------------------- PROFILE QUERIES ----------------------------- */

@container profile (min-width:56.25rem) {
    .profile__wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        height: auto;
        margin: auto;
    }

    .profile__data-container {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0px 0px 9px #0002;
    }

    .profile__description-title {
        margin-top: 0;
        font-size: 3rem;
        text-wrap: balance;
    }

    .profile__data {
        max-width: 820px;
    }

    .profile__img-container {
        max-height: initial;
        border-radius: 25px 0px 0px 25px;
        background-color: #2c3e50;
    }

    .profile__img {
        height: 100%;
        width: 450px;
        object-fit: cover;
    }
}

.catalogue {
    background-color: #2c3e50;
    color: #ecf0f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;
    container-name: portfolio;
    container-type: inline-size;
}

.catalogue h2 {
    color: #ecf0f1;
}

.catalogue__title {
    font-size: 3rem;
    margin-bottom: 0;
}

.catalogue__cabins-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 20px;
    min-height: 100vh;
}

.catalogue__cabin {
    background-image: linear-gradient(#0009, #0009);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 12px;
}

.catalogue__cabin:hover {
    opacity: 0.74;
    outline: 2px solid #fff7;
}

.catalogue__cabin:first-child {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(1\).jpeg');
}

.catalogue__cabin:nth-child(2) {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(2\).jpeg');
}

.catalogue__cabin:nth-child(3) {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(3\).jpeg');
}

.catalogue__cabin:nth-child(4) {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(4\).jpeg');
}

.catalogue__cabin:nth-child(5) {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(5\).jpeg');
}

.catalogue__cabin:nth-child(6) {
    background-image: linear-gradient(#0009, #0009), url('../img/IMG\ \ \(6\).jpeg');
}

/* --------------------------------- CATALOGUE QUERIES -------------------------------- */

@media (min-width: 56.25rem) {
    .catalogue__cabins-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .catalogue__cabin:first-child {
        grid-column: span 1;
    }

    .catalogue__cabin:nth-child(6) {
        grid-column: span 1;
    }
}

@media (min-width: 81.25rem) {
    .catalogue__cabins-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .catalogue__cabin:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .catalogue__cabin:nth-child(6) {
        grid-column: span 4;
    }
}

/* --------------- CONTACT SECTION ----------------- */
.form {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    container-name: form;
    container-type: inline-size;
}

.form__form {
    padding: 12px;
    max-width: 500px;
    width: 100%;
    display: grid;
    gap: 12px;
    background-image: linear-gradient(#0032, #0037);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;
    margin-bottom: 30px;
    background-color: #e2eaff;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 1px 1px 2px #003;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 12px;
    background-color: #26a;
    color: #fff;
}

.form__input-container input[type="reset"] {
    padding: 12px;
    background-color: #26a;
    color: #fff;
}

.form__title {
    font-size: 2.4rem;
    color: #26a;
}

.select .select
/* --------------- CONTACT QUERIES ----------------- */
@media (min-width: 56.25rem) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name lastname"
            "email email"
            "message message"
            "button button"
        ;
    }

    .form__input-container:first-child(1) {
        grid-area: name;
    }

    .form__input-container:nth-child(2) {
        grid-area: lastname;
    }

    .form__input-container:nth-child(3) {
        grid-area: email;
    }

    .form__input-container:nth-child(4) {
        grid-area: message;
    }

    .form__input-container:nth-child(5) {
        grid-area: button;
    }
}

/* --------------------------------------- Map Section --------------------------------*/
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.map__content {
    max-width: 100%;
    border: #0002 solid 2px;
    border-radius: 12px;
}

/* --------------------------------------- Footer Section --------------------------------*/

footer {
    padding: 10px;
    text-align: center;
    background-color: #bdc3c7;
    color: #2980b9;
    font-size: 20px;
}