body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Body styles */
body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sticky navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo styles */
.logo {
    width: 60px;
    height: auto;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
/* Nav menu styles */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

/* Nav item styles */
.nav-menu li {
    margin-right: 20px;
}

/* Nav link styles */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 7px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

/* Content styles */
.terminos__container {
    padding: 80px 20px 20px; /* Add top padding to avoid overlap with the navbar */
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #555;
}

ul {
    padding-left: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
